---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8  mt-4 md:px-20 md:py-20 mt-4 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    ¡Optimiza tu Éxito!
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Descubre la eficiencia y comodidad de nuestras soluciones de landing pages y estrategias de marketing. ¡Convierte clics en clientes y crecimiento sostenible! 
  </p>
  <div class="flex mt-5 ">
    <Link href="/contacto" style="inverted" class="">Consulta Aquí</Link>
  </div>
</div>
