---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import Basehead from "@components/basehead.astro";

export interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | " + "Clic Exitoso"
  : "Clic Exitoso";

const makeDescription = description
  ? description
  : "En Clic Exitoso ayudamos a potenciar tu negocio creando Landing Pages personalizadas y de alto impacto. Convierte clics en clientes y aumenta tus ventas online ahora"
---

<!DOCTYPE html>
<html lang="es">
  <Basehead title={makeTitle} description={makeDescription}/>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZDK4F0FKY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZZDK4F0FKY');
  </script>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
